@import url('https://fonts.googleapis.com/css?family=Roboto:700,400,300');

@font-face {
  font-family: "SFProText-Regular";
  src: url('../fonts/SF-Pro-Text-Regular.otf') format("opentype");
}
@font-face {
  font-family: "SFProText-Semibold";
  src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
}
@font-face {
  font-family: "SAP-icons";
  src: url('../fonts/SAP-icons.ttf') format("truetype");
}

#bread, #fish, #salad, #dessert,
#fullyeaten,#partiallyeaten, #uneaten {
	cursor: pointer;
}

.portions {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 736px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.an-animation-enter {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.an-animation-enter1 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.an-animation-enter2 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.portions .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : 675px;
  width               : 417px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 20px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .navwhite {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1px;
  height              : 19px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .pinright {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 15px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .pinright .battery {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .pinright .battery .battery1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 12px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .pinright .battery .battery1 .border {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.portions .navbarcopy2 .barsstatusblack .pinright .battery .battery1 .nub {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 4px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.portions .navbarcopy2 .barsstatusblack .pinright .battery .battery1 .charge {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 3px;
  height              : 8px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  border-radius       : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .pinright .battery .a100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : right;
  line-height         : 14.0px;
}
.portions .navbarcopy2 .barsstatusblack .pinright .bluetooth {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 12px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .time {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Semibold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 14.0px;
}
.portions .navbarcopy2 .barsstatusblack .signal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .signal .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .signal .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 15px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .signal .group .carrier {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : justify;
  line-height         : 14.0px;
}
.portions .navbarcopy2 .barsstatusblack .signal .group .mobilesignal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .navbarcopy2 .barsstatusblack .signal .group .wifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 10px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .foodonflight {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(103, 103, 103, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.portions .ue0e3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : 17px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 2px;
  width               : 415px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 398px;
  height              : 80px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 158px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .taponitemsandsel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 99px;
  height              : auto;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.portions .rectangle3copy4 {
  background-color    : rgba(2, 30, 66, 1.0);
  top                 : 696px;
  height              : 42px;
  width               : 417px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .done {
  background-color    : rgba(255,255,255,0.0);
  top                 : 703px;
  height              : auto;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.portions .mealdiagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 317px;
  height              : 242px;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 352px;
  height              : 48px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .rectangle3copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 455px;
  height              : 86px;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .rectangle3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 352px;
  height              : 45px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .rectangle3copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 403px;
  height              : 50px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 184px;
  height              : 99px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group5 .fulleaten {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 71px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group5 .fulleaten .rectangle5 {
  background-color    : rgba(156, 139, 116, 1.0);
  top                 : 0px;
  height              : 71px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group5 .fulleaten .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 30px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group5 .fulleaten .group2 .chocolatechipcookie261714copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 32px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(-75deg); /* IE 9 */
  -webkit-transform   : rotate(-75deg); /* Chrome, Safari, Opera */
  transform           : rotate(-75deg);
}
.portions .group5 .fulleaten .group2 .chocolatechipcookie261714copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 32px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.portions .group5 .fullyeatencopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.portions .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 184px;
  height              : 100px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 156px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group4 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 72px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group4 .group3 .partiallyeaten1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71px;
  width               : 71px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group4 .group3 .partiallyeaten1 .rectangle5copy {
  background-color    : rgba(156, 139, 116, 1.0);
  top                 : 0px;
  height              : 71px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group4 .group3 .partiallyeaten1 .chocolatechipcookie261714copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 52px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group4 .partiallyeaten {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.portions .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 184px;
  height              : 99px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 298px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group6 .uneaten {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 71px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group6 .uneaten .rectangle5copy2 {
  background-color    : rgba(156, 139, 116, 1.0);
  top                 : 0px;
  height              : 71px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group6 .uneaten .chocolatechipcookie261714copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 53px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portions .group6 .uneaten1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.portions .ue144copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 598px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SAP-icons", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(156, 139, 116, 1.0);
  text-align          : right;
  line-height         : 35.0px;
}
.portions .capturephotocopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 637px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(156, 139, 116, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}