@import url('https://fonts.googleapis.com/css?family=Roboto:700,400,300');

@font-face {
  font-family: "SFProText-Regular";
  src: url('../fonts/SF-Pro-Text-Regular.otf') format("opentype");
}
@font-face {
  font-family: "SFProText-Semibold";
  src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
}
@font-face {
  font-family: "SAP-icons";
  src: url('../fonts/SAP-icons.ttf') format("truetype");
}

.rewards {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 736px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.rewards .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : 675px;
  width               : 417px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 20px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .navwhite {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1px;
  height              : 19px;
  width               : 414px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .pinright {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 15px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .pinright .battery {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .pinright .battery .battery1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 12px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .pinright .battery .battery1 .border {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.rewards .navbarcopy2 .barsstatusblack .pinright .battery .battery1 .nub {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 4px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.rewards .navbarcopy2 .barsstatusblack .pinright .battery .battery1 .charge {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 3px;
  height              : 8px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  border-radius       : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .pinright .battery .a100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : right;
  line-height         : 14.0px;
}
.rewards .navbarcopy2 .barsstatusblack .pinright .bluetooth {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 12px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .time {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Semibold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : center;
  line-height         : 14.0px;
}
.rewards .navbarcopy2 .barsstatusblack .signal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .signal .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .signal .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 15px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .signal .group .carrier {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(3, 3, 3, 1.0);
  text-align          : justify;
  line-height         : 14.0px;
}
.rewards .navbarcopy2 .barsstatusblack .signal .group .mobilesignal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .navbarcopy2 .barsstatusblack .signal .group .wifi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 10px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .foodonflight {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(103, 103, 103, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.rewards .ue0e3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : 17px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 2px;
  width               : 415px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .thanksforcontribut {
  background-color    : rgba(255,255,255,0.0);
  top                 : 92px;
  height              : auto;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 63px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(156, 139, 116, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.rewards .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 408px;
  height              : 183px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 205px;
  height              : 183px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 408px;
  height              : 191px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 205px;
  height              : 183px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.rewards .chooseyourreward {
  background-color    : rgba(255,255,255,0.0);
  top                 : 630px;
  height              : auto;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(156, 139, 116, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}