@import url('https://fonts.googleapis.com/css?family=Oswald:200|Roboto:400,700,300|Noto+Sans:400|Roboto+Condensed:700,400');


.admin2 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.admin2 .airplanecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 291px;
  height              : 733px;
  width               : 1438px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.admin2 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : 84px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.admin2 .fbconsumptiontrac {
  background-color    : rgba(255,255,255,0.0);
  top                 : 72px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1171px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Oswald", Helvetica, Arial, serif;
  font-weight         : 200;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(2, 30, 66, 1.0);
  text-align          : center;
  line-height         : 45.0px;
}
.admin2 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 287px;
  height              : 140px;
  width               : 609px;
  position            : absolute;
  margin              : 0;
  left                : 402px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.admin2 .group .enterflightno {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : right;
  line-height         : 47.0px;
}
.admin2 .group .dates {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : right;
  line-height         : 47.0px;
}
.admin2 .group .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : 2px;
  width               : 339px;
  position            : absolute;
  margin              : 0;
  left                : 270px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.admin2 .group .line2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : 2px;
  width               : 339px;
  position            : absolute;
  margin              : 0;
  left                : 270px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.admin2 .line3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 145px;
  height              : 2px;
  width               : 1451px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.admin2 .sq32copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 291px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 697px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 18.0px;
}
.admin2 .a100118120118 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 386px;
  height              : auto;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 697px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 18.0px;
}
.admin2 .rectanglecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 468px;
  height              : 45px;
  width               : 149px;
  position            : absolute;
  margin              : 0;
  left                : 863px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(74, 73, 74, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.admin2 .search {
  background-color    : rgba(255,255,255,0.0);
  top                 : 477px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 908px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Condensed", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}